.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

/* .basic-container {
    overflow-y: auto
} */
mat-sidenav-container {
    height: 100vh;
}

/* .mat-drawer-container {
    height: 100%;
} */

.sidebar-btn-parent {
    display: flex;
    flex-direction: column;
    margin-right: 8%;
}

.sidebar-btn {
    justify-content: space-around;
    padding-bottom: 5%;
}

.sidebar-btn button {
    width: 100%
}