<div fxLayout="row" fxLayout.xs="column"fxFlexFill>
  <div fxFlex="33"></div>
  <div fxFlex="33" class="card">
    <mat-card>
      <form #loginForm="ngForm">
        <mat-form-field class="input-field">
          <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="user.email" type="email" required>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-field">
          <input matInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password" required>
        </mat-form-field>

        <mat-form-field>
          <mat-select [(ngModel)]="user.role" name="role">
            <mat-option *ngFor="let role of userRoles" [value]="role">
              {{role}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button class="margin-left-20" mat-raised-button color="primary"
                (click)="logIn()" [disabled]="!loginForm.valid">Log In</button>
      </form>
    </mat-card>
  </div>
</div>
